{% extends "layout.html" %}

{% block title %}
	Change Password
{% endblock %}

{% block main %}

<form action="/change_password" method="post" class="text-center">
	<div class="mb-3">
		<input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="old" placeholder="Old Password" type="password" required>
	</div>
	<div class="mb-3">
		<input class="form-control mx-auto w-auto" name="new" placeholder="New Password" type="password" required>
	</div>
	<button class="btn btn-primary" type="submit">Confirm</button>
</form>

{% endblock %}