html, body {
	background-color: #fff;
	font-family: sans-serif;
	height: 100%;
}

header {
	background-color: #72aee6;
}

main {
	height: 80%;
}

footer {
	height: 20%;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

#main-text {
	padding-top: 3rem;
	font-size: 3rem;
	color: white;
	font-family: Roboto mono;
}

#name {
	color: #ffa366;
}

.big-icon {
	font-size: 3em;
	margin-right: 5px;
}

#home-img {
	width: 512px;
	position: absolute;
	right: 0;
	margin-right: 400px;
}

a, a:visited{
	color: inherit;
	text-decoration: none;
}

nav {
	background-color: #72aee6;
}

.text-white {
	color: #fff;
}